<div class="row marginTopS">
  <div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="center">Sign Up</h2>
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.input :first_name, wrapper_html: { class: 'col-md-6' } %>
          <%= f.input :last_name, wrapper_html: { class: 'col-md-6' } %>
          <%= f.input :email, wrapper_html: { class: 'col-md-12' } %>
          <%= f.input :member_type, collection: ["writer", "business"], wrapper_html: {class: 'col-md-12'} %>
          <%= f.input :password, wrapper_html: { class: 'col-md-12' }, autocomplete: "off" %>
          <%= f.input :password_confirmation, wrapper_html: { class: 'col-md-12' }, autocomplete: "off" %>
          <div class="form-group col-md-12">
            <%= f.submit "Sign Up", class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  </div>
</div>