<%= simple_form_for(@prompt) do |f| %>
  <%= f.input :due_date, selected: 6.days.from_now, wrapper_html:  {class: 'col-md-12'}%>
  <%= f.input :category, wrapper_html: { class: 'col-md-12' } %>
  <%= f.input :description, wrapper_html: { class: 'col-md-12' } %>
  <%= f.input :target_audience, collection: ["Millenials", "GenX", "GenY"], wrapper_html: { class: 'col-md-6' } %>
  <%= f.input :length, collection: [">300", "300 < & < 700", "700 <"], wrapper_html: { class: 'col-md-6' } %>
  <div class="form-group col-md-12">
  <%= f.nested_fields_for :keywords do |k| %>
  	<%= k.input :word %>
  	<%= k.remove_nested_fields_link "REMOVE" %>
  <% end %>
  </div>
  <div class="form-group col-md-12">
  	<%= f.add_nested_fields_link :keywords%>
  </div>
  <%= f.hidden_field :business_id, value: current_member.id  %> 
  <div class="form-group col-md-12">
    <%= f.submit "Create Prompt", class: "btn btn-primary" %>
  </div>
<% end %>