<div class="row">
<div class="container marginTopL marginBotL full-page">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading" style="height: 100px;">
					<div class="pull-left">
						<h3><strong><%=@prompt.category %>  <small>#<%= @prompt.id %></small></strong></h3>
					</div>
					<div class="pull-right">
						<h3><small><%= @prompt.due_date %></small></h3>
					</div>
				</div>
				<div class="panel-body">
					<h4 class="center"><span class="label label-primary"><%= @prompt.length %> Words</span></h4>
					<hr>
					<h6><strong>DESCRIPTION:</strong></h6>
					<p><%= @prompt.description %></p>
					<hr>
					<h6><strong>KEYWORDS:</strong></h6>
					<h4 class="center">
						<% @prompt.keywords.each do |k| %>
							<span class="label label-primary"><%= k.word.capitalize %></span>
						<% end %>
					</h4>
					<hr>
					<h6><strong>TARGET AUDIENCE:</strong></h6>
						<p><%= @prompt.target_audience %></p>
				</div>
				<div class="panel-footer" style="height: 60px;">
					<div class="pull-left">
						<% if @prompt.members.include?(current_member)%>
	  					<%= link_to "DECLINE", assignment_path(id: @prompt.id), method: :delete, class: "btn btn-danger" %>
	  				<% end %>
						<% if @prompt.members.present? || current_member.admin? %>
							<% @prompt.members.each do |pm| %>
								<%= link_to "#{pm.first_name}", "#", class: "btn btn-primary" %>
							<% end %>
						<% end %>
					</div>
						<% if @prompt.open? && current_member.admin? || @prompt.members.blank? && current_member.admin? %>
						<div class="pull-left" style="margin-left: 5px;">
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Assign to author:
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<% @writers.each do |m| %>
								  	<li><%= link_to "#{m.first_name}", assignments_path(member_id: m.id, prompt_id: @prompt.id), method: :post %></li>
								  <% end %>
							  </ul>
							</div>
						</div>
						<% elsif @prompt.submitted? && current_member.admin? %>
						<div class="pull-left" style="margin-left: 5px;">
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Assign to Editor:
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<% @editors.each do |m| %>
								  	<li><%= link_to "#{m.first_name}", assignments_path(member_id: m.id, prompt_id: @prompt.id), method: :post %></li>
								  <% end %>
							  </ul>
							</div>
						</div>
						<% end %>
					<div class="pull-right">
						<%= if current_member.business? %>
							<p><%= p.status.capitalize %></p>
						<% else %>
						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    <%= @prompt.status.capitalize %>
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><%= link_to "Open", update_status_prompt_path(@prompt, prompt: {status: :open}), method: :put %></li>
								<li><%= link_to "Accepted", update_status_prompt_path(@prompt, prompt: {status: :accepted}), method: :put %></li>
								<li><%= link_to "Submitted", update_status_prompt_path(@prompt, prompt: {status: :submitted}), method: :put %></li>
								<li><%= link_to "Under Review", update_status_prompt_path(@prompt, prompt: {status: :review}), method: :put %></li>
								<li><%= link_to "Complete", update_status_prompt_path(@prompt, prompt: {status: :complete}), method: :put %></li>
								<li><%= link_to "Cancel", update_status_prompt_path(@prompt, prompt: {status: :cancel}), method: :put %></li>
						  </ul>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>