<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_url, class: "navbar-brand" do %>
        <%= image_tag('heathcliff(logo).png') %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if member_signed_in? %>
          <% if current_member.writer? || current_member.editor? %>
            <li><%= link_to "Assigned Prompts", prompts_path %></li>
          <% elsif current_member.business? %>
            <li><%= link_to "New Prompt", new_prompt_path %></li>
          <% else %>
            <li><%= link_to "All Prompts", prompts_path %></li>
          <% end %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_member.first_name %>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_member.business? %>
              <li><%= link_to "Your Prompts", prompts_path %></li>
            <% end %>
            <li><%= link_to "Edit Account", edit_member_registration_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Sign Out", destroy_member_session_path, method: :delete %></li>
          </ul>
        </li>
        <% else %>
          <li><%= link_to "About", pages_about_us_path %></li>
          <li><%= link_to "Sign In", new_member_session_path %></li>
          <li><%= link_to "Sign Up", new_member_registration_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
