<!DOCTYPE html>
<html>
<head>
  <title>Heathcliff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'https://js.stripe.com/v2/', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<%= render partial: "shared/navbar" %>
 	<div class="container center">	
	 	<% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>"><%= value %></div>
	  <% end %>
  </div>
<%= yield %>

<%= render partial: "shared/footer" %>
<%= render partial: "layouts/ga" %>
</body>
</html>
